h1{
    text-align: center;
}

.one{
    width: 100px;
}

.two{
    width: 100px;
}

.three{
    width: 100px;
}

.four{
    width: 200px;
}
.five{
    width: 300px;
}

.six{
    width: 300px;
}

.seven{
    width: 100px;
}